  
{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      "@babel/react"
    ]
  }

/* Target es para decirle el entorno de escritura de código */